transformers==4.37.2 
optimum==1.12.0 
auto-gptq --extra-index-url https://huggingface.github.io/autogptq-index/whl/cu118/ 
langchain==0.1.9 
sentence_transformers==2.4.0 
unstructured 
pdf2image 
pdfminer.six==20221105 
unstructured-inference 
chromadb
pikepdf==8.13.0 
pypdf==4.0.2 
pillow_heif==0.15.0 